Package: libace-dev-fake
Version: 1.0
Section: libdevel
Priority: optional
Architecture: all
Essential: no
Depends: 
Pre-Depends: perl 
Installed-Size: 1024
Maintainer: Paul Fitzpatrick [paulfitz@alum.mit.edu]
Provides: libace-dev-fake
Description: Fake libace-dev package, for if you installed ace in a 
 non-debian way.
