
SUBDIRS = $(wildcard libYARP_*) $(wildcard src) $(wildcard yarp-*) $(wildcard tools)

default:
	@for d in $(SUBDIRS) ; do \
		test -d $$d && ( cd $$d ; $(MAKE) ) ; done


topinstall:
	@for d in $(SUBDIRS) ; do \
		test -d $$d && ( cd $$d ; $(MAKE) topinstall ) ; done


install: topinstall

clean:
	@for d in $(SUBDIRS) ; do \
		test -d $$d && ( cd $$d ; $(MAKE) clean ) ; done

